<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Welcome to Quiz</h1>
  <p class="col-md-8 fs-4">This quiz contains total 3 sections.Each question holds 5 points</p>
  <h4>Rules:</h4>
  <ol>
    <li>Correct question gives you 5 points</li>
    <li>Incorrect question gives -1</li>
    <li>Malpratcices are strictly prohibited</li>
    <li>You will have 30sec to answer each question</li>
    <li>Refreshing the page will reset the quiz</li>
  </ol>
  <input type="checkbox" id="check1">
  <label> Agree to Terms and Conditions</label>
  <h1 style="font-family: cursive;text-align: center">All the best!!</h1>
  <div class="name col-md-4 my-3">
    <label for="">Enter your name:</label>
    <input #name type="text" class="form-control">
  </div>
  <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start the quiz!!</button>
</div>
